body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
}

.timeline {
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
}

.timeline::before {
    content: "";
    position: absolute;
    left: calc(57%); 
    top: 0;
    bottom: 0;
    width: 4px;
    background-color: #4CAF50;
    z-index: 0;
    margin-top: 3%;
    height: 100vh;
}

.timeline__event.event {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
    position: relative;
    margin: 5%;
}

.event__date {
    flex: 0 0 30%;
    padding-right: 20px;
    text-align: right;
    margin-left: 10%;
}

.event__date > p:first-child {
    font-weight: bold;
}
.event__date > p {
    margin:0;
}

.event__content.content {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 40px;
    margin-left: 15%;
}

.content__circle {
    width: 20px;
    height: 20px;
    background-color: #4CAF50;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.content__description {
    margin: 0;
    padding-left: 30px;
}
